#title {
	font-family: "Bungee", "sans-serif";
	font-size: 60px;
	padding: 0.75em;
}

#prompt {
	font-size: 30px;
	padding: 1.5em;
}

.nav {
	display: flex;
	flex-direction: row;
}

nav {
	width: 100%;
	height: 120px;
	background-color: #4056A1;
	color: #FFFFFF;
	display: flex;
	justify-content: space-between;
	position: fixed;
	top: 0;
}