section {
	width: 100%;
}

form {
	display: flex;
	flex-direction: column;
}

form button {
	font-family: "Bungee", "sans-serif";
	background-color: #4056A1;
	color: #FFFFFF;
	border: none;
}

form label {
	font-size: xx-large;
}

form div {
	display: flex;
	justify-content: space-between;
	font-size: xx-large;
	margin: 0.75em 0 0.75em 0;
}

.counter {
	font-family: "Bungee", "sans-serif";
}

.negative {
	color: red;
}

#tweet-text {
	border: none;
	border-bottom: 5px solid black;
	background-color: #f4f1ec;
}